.feed-title {
  text-align: left;
  width: 95%;
  margin: auto;
}

h1.title-text {
  margin-top: 0.2em;
}

.title-text {
  margin-bottom: 0;
  font-size: 2em;
}

.hashtag-text {
  margin-top: 0.5em;
  margin-right: 0.5em;
  font-weight: 700;
  font-size: 1em;
}

.feed-subtitle {
  text-align: left;
  width: 95%;
  margin: auto;
}

.feed-subtitle p {
  margin-bottom: 0;
  margin-top: 0.1em;
}

.subtitle-text {
  display: flex;
  flex: 0 0 83%;
  flex-basis: calc(100% - 280px);
}

.search-div {
  flex: 1;
  margin-top: -20px;
}

.feed-container {
  width: 95%;
  margin: auto;
  margin-top: 10px;
  overflow-y: auto;
  height: calc(100vh - 190px);
}

.tweet-info-grid {
  display: flex !important;
  flex-direction: column;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tweet-hover {
  flex: 1;
  background: rgba(0, 0, 0, 0.6);
}

.grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.white-text {
  color: #fff !important;
  margin-bottom: 1em !important;
}

.white-text a {
  color: #fff !important;
}

.tweets-info-text {
  margin-top: 0.5em;
  font-size: 1em;
  color: #757575;
}

.view-tweet-btn {
  border: 2px solid white !important;
  border-radius: 15px !important;
}

.view-tweet-btn > div {
  line-height: 32px !important;
}

@media only screen and (min-width: 768px) {
  .feed-container {
    height: calc(100vh - 165px);
    width: 80%;
  }

  .feed-title {
    width: 80%;
  }

  .feed-subtitle {
    width: 80%;
    display: flex;
  }

  .search-div {
    flex: 1;
    margin-top: -40px;
  }

  .title-text {
    font-size: 2.5em;
  }

  .hashtag-text {
    font-size: 1.4em;
  }

  .tweets-info-text {
    font-size: 1.4em;
  }
}

.feed-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.feed-container::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.feed-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(0, 188, 212);
}
