.tweet-info-grid {
  display: flex !important;
  flex-direction: column;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tweet-hover {
  flex: 1;
  background: rgba(0, 0, 0, 0.6);
}

.white-text {
  color: #fff !important;
  margin-bottom: 1em !important;
  font-size: 0.8em !important;
}

.white-text a {
  color: #fff !important;
}

.tweet-icon {
  width: 18px !important;
  height: 18px !important;
}

.view-tweet-btn {
  border: 2px solid white !important;
  border-radius: 15px !important;
}

.view-tweet-btn > div {
  line-height: 32px !important;
}

/* styles for large screens */
@media only screen and (min-width: 768px) {
  .white-text {
    font-size: 1em !important;
  }

  .tweet-icon {
    width: 24px !important;
    height: 24px !important;
  }
}
